@{
    ViewData["Title"] = "About Us";
}

<h1>SCHOOL MANAGEMENT SYSTEM</h1><BR/>
<p class="lead">Welcome to our School Management System, a comprehensive solution developed as a part of our college project using ASP.NET Core and Entity Framework. Our system is designed to streamline and enhance the management of school operations, providing an efficient and user-friendly platform for administrators, teachers.</p>
<BR/>

<H3>KEY FEATURES</H3>
<P class="lead">
  
    Student Information Management: Maintain comprehensive student records, including personal details.
</P>
<P class="lead">
    Teacher Management: Manage teacher profiles, scheduleS.
</P>
<P class="lead">
    Class and Course Management: Organize and manage classes, courses, and timetables efficiently.
</P>
<p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Contact For More Info</a>
</p>