@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="~/images/blackboard.jpg" class="d-block w-100" alt="blackboard image">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>School Management System</h1>
            <p>Best school management system</p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_1280.jpg" class="d-block w-100" alt="geometry image">

        <div class="container">
          <div class="carousel-caption">
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        
        <img src="https://cdn.pixabay.com/photo/2015/08/05/13/55/children-876543_1280.jpg" class="d-block w-100" alt="children in school">


        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Intelligent Students.</h1>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>
    <P class="lead">
        PATEL MEET
        CE-142
    </P>
    <P class="lead">
        HIRAX MACHCHH
        CE-131
    </P>
    <p class="lead">
        MANAS GARCHAR
        CE-133
    </p>
  </div>




  
   
